.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.56);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background: #F2F2F2;
    padding: 35px 40px 40px 40px;

    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 42px;
        line-height: 18px;
        color: $main-color;
        cursor: pointer;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: $secondary-color;
    }

    &__descr {
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: $secondary-color;
        &_lh22 {
            line-height: 22px;
        }
    }

    &__mini {
        min-height: 140px;
    }

    .error {
        border: 1px solid red;
    }

    label.error {
        font-size: 12px;
        border: none;
        color: $secondary-color;
    }
}

#consultation, #order, #thanks {
    display: none;
}