.responses {
    padding: 60px 0 50px 0;

    &__item {
        margin-top: 60px;
        display: flex;
    }

    &__img {
        margin-right: 60px;
        width: 169px;
        height: 169px;
        border-radius: 100%;
        border: none;
    }

    &__content {
        padding-right: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: $secondary-color;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }

    &__descr {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: $secondary-color;
    }
}